
@charset "utf-8";
@import "compass";


html{
    font-size:62.5%;
}


@mixin font-size($size:24,$base:10){
        font-size:$size + px;
        font-size:($size / $base) * 1rem;
}

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$blue1 : #42b9d0;
$blue2 : #339fd1;
$gray_blue : #eaf2f4;


/*==========================================================================
header
==========================================================================*/

header{
    background-color: $gray_blue;
    
    #header_in{
        padding-top:10px;
        padding-bottom:4px;
    }
       h1{
          margin: 0;
          padding: 0;
}
   
    //スマホでの表示設定
    @media (max-width:550px){
        .logo{
            width:190px;
        }
        .navi{
            width:40px;
            float:right;
        }
        .pc_navi{
            display:none;
          
        
    }
   
    }
    
    //PC・タブレット表示でのナビメニュー設定
     @media (min-width:551px){
         .sp_navi{
        display:none;
    }
    }
    
    .sp_navi_li{
        width: 180px;
        position: absolute;
        top:60px;
        right:2%;
        border: 1px solid #eee;
        background: white;
        margin: 0;
        padding:0;
        display:none;
        z-index:2;
         
         li{

      list-style: none;
      margin: 0;
      padding:0;

          a{
        display: block;
        padding: 10px 8px;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        text-decoration: none;
      }
}
}

    
    .pc_navi_li{
      margin:0;
      padding:0;

      li{
        list-style:none;
        margin: 5px 0 0 0;
        padding: 0;

        a{
          color: #626262;
          text-decoration: none;
          font-weight: bold;
          @include font-size(14);
          float: left;
          padding-right: 10px;
          
          &:hover{
              color: $blue1;
          }
        }
      }
      
      li.navi_toppage a{
         //retina_bg
        background-repeat:no-repeat;
        display: inline-block;
        line-height: 40px;
        padding-left: 50px;
        background-image: url("../images/top/navi_top.png");
        background-size: 40px 40px;
          
            @media screen and (-webkit-min-device-pixcel-ratio:2),(min-resolution:2dppx){
              background-image: url("../images/top/navi_top@2x.png");
      }
          
      }// li.navi_toppage a
      
      li.navi_news a{
        //retina_bg

        background-repeat:no-repeat;
        display: inline-block;
        line-height: 40px;
        padding-left: 50px;

          background-image: url("../images/top/navi_news.png");
          background-size: 40px 40px;

        @media screen and (-webkit-min-device-pixel-ratio:2),
                          (min-resolution: 2dppx){

          background-image: url("../images/top/navi_news@2x.png");

        }

      } // .li.navi_news a
      
      li.navi_company a{
        //retina_bg

        background-repeat:no-repeat;
        display: inline-block;
        line-height: 40px;
        padding-left: 50px;

          background-image: url("../images/top/navi_company.png");
          background-size: 40px 40px;

        @media screen and (-webkit-min-device-pixel-ratio:2),
                          (min-resolution: 2dppx){

          background-image: url("../images/top/navi_company@2x.png");

        }

      }
      // .li.navi_company a

    }
}//header


/*==========================================================================
メインビジュアルの設定
==========================================================================*/

#cover_area{
    text-align:center;
    padding:80px 0;
    
    
    //retina用の画像
    background-image: url("../images/top/cover.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    
    @media screen and (-webkit-min-device-pixel-ratio:2),
                    (min-resolution: 2dppx){

    background-image: url("../images/top/cover@2x.jpg");

  }


  //PCビューの調整
  @media (min-width: 551px) {

    text-align: left;
    height:420px;
    padding:0;

    img{
      margin-top: 180px;
      margin-left: 70px;
    }
  }
  // min-width: 551px
  p{
    margin-bottom:0;
    color:#fff;
    font-weight: bold;
    @include font-size(16);
  }
}

//下層ページのメインビジュアル
#cover_area.sub{
    text-align:center;
    padding:40px 0;
    
    //retina用の画像
    background-image: url("../images/sampleImages/news/sub_cover.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    
    @media screen and (-webkit-min-device-pixel-ratio:2),
                    (min-resolution: 2dppx){

    background-image: url("../images/sampleImages/news/sub_cover@2x.jpg");
                    }
    //PC表示の設定
    @media (min-width:551px){
        height:auto;
        padding:80px 0;
        
         p{
            @include font-size(32);
          }
    }
 
}

//companyページのメインビジュアル



/*==========================================================================
TOPページのサービスエリア
==========================================================================*/

#service_area{
    padding-top:20px;
   
    //PC表示
    @media (min-width:551px){
         padding-top:40px;
   
    }
     .columns{
        
        color:#626262;
        
    .service_title{
      @include font-size(18);
      font-weight: bold;
      margin-top: 8px;
    }
    
    p{

      @include font-size(15);
      margin-top: 10px;
    }
    
    //PC表示
     @media (min-width: 551px) {

      .service_title{
        @include font-size(16);
      }

      p{

        @include font-size(13);
      }

    }
    // min-width: 551px


    }
    
        
}

/*==========================================================================
TOPページのニュースエリア
==========================================================================*/

#news_area{
    background-color: $gray_blue;
    div.news_title{
    text-align: center;
    @include font-size(26);
    color: $blue1;
    padding: 15px 0 10px 0;
    font-weight: bold;
    letter-spacing: 0.2rem;
        }
        
        ul.news_lists li{
            list-style:none;
            color:#626262;
            @include font-size(15);

            span{
                color:$blue1;
                display:block;
                font-weight: bold;
                margin-bottom:3px;
            }
        }//news_lists
        
    @media (min-width:551px){
        div.news_title{
            padding:30px 0 20px 0;
        }
        
         ul.news_lists li{
            list-style:none;
            color:#626262;
            @include font-size(14);
            text-align:center;
            margin-bottom: 20px;


            span{
                color:$blue1;
                display:inline-block;
                font-weight: bold;
                margin-bottom: 0px;
                @include font-size(14);
            }
        }
    }
}


/*==========================================================================
下層ページ
==========================================================================*/


#contents {
  padding-top:20px;
  .container #main_contents{
    
    h2{
      color:$blue1;
      @include font-size(15);
      font-weight: bold;
      padding-bottom:15px;
      border-bottom:3px solid $blue1;
    }
    
    //ニュースリストの設定
    ul.news_li{
      list-style:none;
        li{
          span{
          color:$blue1;
          display:block;
          margin-bottom:3px;
          font-weight: bold;
          }
        }
    }   //ニュースリストの設定
    
    //テーブルの表示共通設定
    table{ 
      @include font-size(14);
      tr{
      color:#626262;
        th{
          padding-right:20px;
          
          
        }
        td{
          padding:20px 0;
        }
      }
    }
  }
  
   //下層ページのPC表示設定
   
    @media (min-width:551px){
      padding-top:35px;
      padding-bottom:70px;
      .container #main_contents{
        
          padding-right:20px;
        
          h2{ 
            padding-bottom:20px;
            @include font-size(20);
      }
      
      //PCでのニュース表示設定
       ul.news_li{
      list-style:none;
        li{
          padding-bottom:3px;
          span{
          color:$blue1;
          display:inline-block;
          margin-right:10px;
          font-weight: bold;
          }
        }
      }  //PCでのニュース表示設定
    }
  } //news PC表示
}  // contents

/*==========================================================================
sidebar
==========================================================================*/

#sidebar{
    padding-bottom:20px;
  .pc_sidemenu{
    h3{
    color: #42b9d0;
    font-size: 14px;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    background-color: #f3f9fb;
    padding: 15px;
    margin-bottom: 0px;
    }
    ul li{
      list-style: none;
    display: block;
    border-bottom: 1px solid #e5e5e5;
    background-repeat: no-repeat;
    background-position: 8px center;
    margin-bottom: 0px;
    padding: 10px 10px 10px 20px;
    background-image: url(../images/sampleImages/news/side_arrow.png);
    background-size: 4px 8px;
    //retina用の画像
    @media screen and (-webkit-min-device-pixel-ratio:2),
                    (min-resolution: 2dppx){
    }
        a{
          text-decoration:none;
        }
  }
  
  
}

  @media (max-width: 551px){
    .pc_sidemenu{
      display:none;
    }
  
}


}






//facebookの設定






/*==========================================================================
footer
==========================================================================*/

footer{

  background-color:$blue1;
  color: #fff;
  padding-top: 20px;

  @media (max-width: 550px) {

    .container{

      margin: 0;
      padding: 0;
    }

    .sp{

      padding: 0 6%;
      margin: 0 auto;

    }

    .foot_navi{

      margin-top: 20px;

      li{
        list-style: none;
        margin-bottom: 1px;

        a{
          color:$blue1;
          background-color:$gray_blue;
          display: block;
          text-align: center;
          font-weight: bold;
          text-decoration: none;
          @include font-size(16);
          padding: 16px 0;
        }
      }
    }
    // .foot_navi

  }
  // max-width: 550px



  .foot_address{

    @include font-size(16);
    padding-top: 10px;
  }

  .copy{

    text-align: center;
    @include font-size(11);
    color: #b2e1ea;
  }



  @media (min-width: 551px) {

    padding-top: 30px;

    .foot_address{
      padding: 0px;
      @include font-size(12);
    }

    .foot_navi{

      float: right;

      li{
        list-style: none;

        background-repeat: no-repeat;
        background-position: left center;

        display: inline-block;
        float: left;
        margin-right: 10px;
        @include font-size(11);


        //retina_bg

          background-image: url("../images/top/foot_arroehead.png");
          background-size: 4px 6px;

        @media screen and (-webkit-min-device-pixel-ratio:2),
                          (min-resolution: 2dppx){

          background-image: url("../images/top/foot_arroehead@2x.png");

        }
        //retina_bg
      }
      // li

      a{

        color: white;
        padding-left: 10px;
        text-decoration: none;

      }

      a:hover{

        color:$gray_blue;
      }

    }
    // .foot_navi

    .copy{

      margin-top: 30px;
    }

  }
  // min-width: 551p


}
// footer